[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.68"
uvicorn = "*"
aiohttp = "*"
bs4 = "*"
lxml = "*"
requests = "*"
deta = "*"
line-bot-sdk = "*"
cryptocode = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
r = 'uvicorn main:app --debug'
ngrok = 'C:\Users\calli\Downloads\ngrok-stable-windows-amd64\ngrok.exe http 8000'
