[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.68"
aiohttp = "*"
bs4 = "*"
lxml = "*"
requests = "*"
deta = "*"
line-bot-sdk = "*"
cryptocode = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
richmenu = 'python create_rich_menu.py'
